.input-search {
  width: 519px;
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #3D495C;
  border-radius: 6px;
}

.container-search {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 40px;
  gap: 10px;
}

.btn-search {
  width: 134px;
  height: 45px;
  background: #003BE5;
  color: #FFFFFF;
  border-radius: 3px;
  border: none;
}

.card {
  width: 200px;
  transition: all 0.5s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.card:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.1);
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  gap: 12px;
  margin-top: 40px;
}

.centralizar-albuns {
  display: flex;
  justify-content: center;
}

.text-result {
  margin-top: 40px;
  text-align: center;
}

.album-not-found {
  position: absolute;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 65px;
  letter-spacing: 0.02em;
  color: #023031;
  top: 50vh;
}